* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #121214;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

h1 {
  cursor: pointer;
}
